.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.main {
  margin: 0 auto;

  &__artic {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 5px 70px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 320px;
    padding: 0 0px;
  }

  .main {
    &__container {
      padding: 0 20px 0;
    }

    &__artic {
      max-width: 1178px;
      width: 100%;
      padding: 55px 0 0px;
      margin: 0 auto;
  }
  }
}
